* {
  margin: 0;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  margin-top: 200px;

  width: 1000px;
}

.container input {
  width: 995px;
  height: 40px;
  padding: 5px;
  font-size: 20px;
}

.container button {
  margin: 24px 0px;
  width: 100px;
  height: 30px;
}
